.reveal {
    background: url("graphics/FHAC.jpg");
    background-repeat: no-repeat;
    background-size: 4%;
    background-position: right 5%;
}

.reveal .slides section {
    font-size: 20pt;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-size: 36pt;
    text-transform: none;
}

.reveal h1.title {
    font-size: 36pt;
}

.reveal p.author,
.reveal p.date {
    font-size: 16pt;
}

.reveal img {
    margin: auto;
}

.reveal figcaption {
    font-size: 12pt;
}

.reveal .small {
    font-size: 12pt;
}

#TOC a {
    color: inherit;
}
